<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expenses</title>
    <link rel="stylesheet" href="../css/expenses.css">
    <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>
</head>

<body>
    <div class="expenses-form-container">
        <form onsubmit="handleFormSubmit(event)">
            <label for="amount">Amount: </label>
            <input type="number" name="amount" id="amount" required>
            <label for="category">Category:</label>
            <select name="category" id="category" required>
                <option value="" disabled selected>--Select category--</option>
                <option value="food">Food</option>
                <option value="fuel">Fuel</option>
                <option value="groceries">Groceries</option>
                <option value="entertainment">Entertainment</option>
                <option value="transport">Transport</option>
                <option value="salary">Salary</option>
                <option value="other">Others</option>
            </select>
            <label for="description">Description: </label>
            <input type="text" name="description" id="description">

            <button type="submit" id="submit-btn">Add Expense</button>
        </form>
    </div>

<!-- Div for buy premium button -->
    <div class="premium-container" id="premium-container"></div>

    <div class="expenses-container">
        <h2>Expenses: </h2>
        <ul id="expenses-list"></ul>
        <div class="pagination" id="pagination">
            <button type="button" id="prev-btn">Prev</button>
            <label for="items-per-page">Items per page</label>
            <select name="items-per-page" id="items-per-page">
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
            <span id="current-page"></span>
            <button type="button" id="next-btn">Next</button>
        </div>
    </div>


    <div class="premium-features-container">
        <div class="leaderboard-container" id="leaderboard-container" style="display: none;">
            <h2>Leaderboard:</h2>
            <ul id="leaderboard-list"></ul>
            <button id="leaderboard-btn" class="leaderboard-btn" onclick="showLeaderboard()">Show Leaderboard</button>
        </div>

        <div class="report-container" id="report-container" style="display: none;">
            <h3>Generate your expenses report</h3>
            <label for="duration">Choose duration:</label>
            <select name="duration" id="duration">
                <!-- <option value="today">Today</option> -->
                <option value="weekly">Weekly</option>
                <option value="monthly">Monthly</option>
            </select>
            <button id="report-generate-btn">Generate</button>

            <div class="report-expenses" id="report-expenses">
                <table class="report-table" id="report-table">
                </table>
                <div class="donwload-btn-container" id="download-btn-container"></div>
            </div>
        </div>

    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
<script src="../js/expenses.js"></script>

</html>